.cover-img{
    border-radius: 1rem;
}
.book-title{
    text-align: center;
}
.details-btn{
    background-color: rgba(22, 160, 57, 0.826);
    font-family: 'Poppins';
    color: aliceblue;
    padding: 0.2rem 0.5rem !important;
}

.img-container-border{

    border-radius: 3rem;
}